*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!Makefile
!README.md
!.gitignore
!init.sh
!/issues/
!/issues/**
!/docs/
!/docs/**
!/scripts/
!/scripts/**
!/docker/
!/docker/**
!/rv32emu/
!/rv32emu/**
!/.vscode/
!/.vscode/**
/out/
.cache/
# rv32emu local build artifacts
rv32emu/build/
compile_commands.json